<!-- <section class="faq" id="faq">
    <div class="faq_container">
        <h2 class="faq__title">
            FAQ<br>Ответы на часто задаваемые вопросы.
        </h2>
        <div class="faq__wrapper">
        <ul class="faq__list-one">
            <li class="faq__item">
                <p class="faq__item-question">Сколько стоит сборка мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какая информация нужна для того, чтобы 
                    определить стоимость сборки моей мебели?</p>
                    <p class="faq__item-answer">Оплата производится наличными средствами 
                        (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                        вами качества их проведения.<br><br>
                        Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">

        </li>
            <li class="faq__item">
                <p class="faq__item-question">Сколько времени  нужно для сборки  мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Дополнительные услуги включены в стоимость сборки?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Вы предоставляете гарантию на выполненную работу?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Есть ли возможность онлайн-заказа?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
        </ul>
        <ul class="faq__list-two">
            <li class="faq__item">
                <p class="faq__item-question">Какие требования к месту, где будет производиться сборка мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какие меры безопасности вы принимаете во время сборки мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Могу ли я оставить вас одних в своем доме во время сборки?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Что мне следует сделать, чтобы 
                    подготовиться к сборке мебели до вашего прибытия?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какие методы оплаты вы принимаете?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.
                </p>
                <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
        </ul>
        </div>
    </div>
</section> -->

<section class="faq" id="faq">
  <div class="faq_container">
    <h2 class="faq__title">FAQ<br>Ответы на часто задаваемые вопросы.</h2>
    <div class="faq__wrapper">
      <ul class="faq__list-one">
        <li class="faq__item">
          <p class="faq__item-question">Сколько стоит сборка мебели?</p>
          <p class="faq__item-answer">
            Выезд на сборку мебели от 1600р Сборка мебели зависит от многих
            факторов. Качества изделия, производителя и других.<br><br>
            Цены на <b>Корпусную мебель</b> и
            <b>Кухонные гарнитуры</b> смотрите по ссылке.
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <li class="faq__item">
          <p class="faq__item-question">
            Какая информация нужна для того, чтобы определить стоимость
            сборки моей мебели?
          </p>
          <p class="faq__item-answer">
            1. <b>Тип мебели:</b> Укажите, о каком конкретно типе мебели
            идет речь (шкаф, кровать, стол и т.д.). Различные виды мебели
            требуют разного времени и усилий для сборки. <br><br>

            2. <b>Модель мебели:</b> Если у мебели есть конкретная модель
            или производитель, уточните это. Некоторые модели могут быть
            более сложными в сборке.<br><br>

            3. <b>Размеры мебели:</b> Укажите размеры мебели, так как это
            влияет на объем работы. Большие предметы или те, которые имеют
            сложные конструкции, могут потребовать больше времени.<br><br>

            4. <b>Местоположение:</b> Адрес сборки мебели может влиять на
            стоимость, особенно если мастеру нужно долго добираться до
            вашего дома.<br><br>

            5. <b>Сроки выполнения:</b> Если у вас есть конкретные сроки,
            важно уточнить их заранее. Срочная сборка может потребовать
            дополнительных затрат.<br><br>

            6. <b>Дополнительные услуги:</b> Если вам нужны дополнительные
            услуги, такие как демонтаж старой мебели или закрепить шкаф к
            стенке, уточните это, так как это может также повлиять на
            стоимость.<br><br>
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <li class="faq__item">
          <p class="faq__item-question">
            Сколько времени нужно для сборки мебели?
          </p>
          <p class="faq__item-answer">
            От 1 часа до 12 часов, зависит от объема работ.
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <li class="faq__item">
          <p class="faq__item-question">
            Дополнительные услуги включены в стоимость сборки?
          </p>
          <p class="faq__item-answer">
            Дополнительные работы <b>не включены</b> в стоимость сборки
            мебели. <br>
            К ним отностятся: <br><br>
            Сверление отверстий в стене <br>
            Монтаж, демонтаж розеток <br>
            Изменение конструкции модуля <br>
            Демонтаж плинтуса и другие виды работ <br>
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <li class="faq__item">
          <p class="faq__item-question">
            Вы предоставляете гарантию на выполненную работу?
          </p>
          <p class="faq__item-answer">
            Гарантия на сборку мебели 12 месяцев. <br>
            При соблюдении всех рекомендация по уходу и эксплуатированию
            мебели от производителя.
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
      </ul>
      <ul class="faq__list-two">
        <li class="faq__item">
          <p class="faq__item-question">
            Что мне следует сделать, чтобы подготовиться к сборке мебели до
            вашего прибытия?
          </p>
          <p class="faq__item-answer">
            Для сборки мебели, помещение должно быть освобождено от старой
            мебели, сантехники, строительного мусора, предметов
            препятствующих сборке и соответствовать нормам:</br> Температура в
            помещении для сборки мебели должна быть в диапазоне от + 17°С до
            +25°С.<br><br>
            Для выполнения навески мебели необходимо предоставить сборщику
            стремянку либо устойчивый стол/стул/табурет.<br>
            <br>
            Если у вас легко царапающиеся полы, подготовить поверхность для
            её защиты.<br>
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <!-- <li class="faq__item">
          <p class="faq__item-question">
            Какие меры безопасности вы принимаете во время сборки мебели?
          </p>
          <p class="faq__item-answer">
            Оплата производится наличными средствами (в российских рублях)
            мастеру по окончанию сборочных работ и одобрения вами качества
            их проведения.<br><br>
            Безналичная оплата банковским переводом по выставленному счету.
          </p>
          <img
            src="app/images/src/faq/Plus.svg"
            alt="раскрыть вопрос"
            class="faq__item-image"
          />
        </li> -->
        <li class="faq__item">
          <p class="faq__item-question">
            Могу ли я оставить вас одних в своем доме во время сборки?
          </p>
          <p class="faq__item-answer">
            Вы можете оставить мастера в квартире одного. <br>
            Мастер позвонит вам за 1-2 часа, как будет завершать услугу что
            бы вы приехали на приемку.
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <!-- <li class="faq__item">
          <p class="faq__item-question">
            Что мне следует сделать, чтобы подготовиться к сборке мебели до
            вашего прибытия?
          </p>
          <p class="faq__item-answer">
            Оплата производится наличными средствами (в российских рублях)
            мастеру по окончанию сборочных работ и одобрения вами качества
            их проведения.<br><br>
            Безналичная оплата банковским переводом по выставленному счету.
          </p>
          <img
            src="app/images/src/faq/Plus.svg"
            alt="раскрыть вопрос"
            class="faq__item-image"
          />
        </li> -->
        <li class="faq__item">
          <p class="faq__item-question">
            Какие методы оплаты вы принимаете?
          </p>
          <p class="faq__item-answer">
            Оплата производится наличными средствами (в российских рублях)
            мастеру по окончанию сборочных работ и одобрения вами качества
            их проведения.<br><br>
            Безналичная оплата банковским переводом по выставленному счету.
          </p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
        <li class="faq__item">
          <p class="faq__item-question">
            Есть ли возможность онлайн-заказа?
          </p>
          <p class="faq__item-answer">
            Да. <br><br> Оставьте заявку на нашем сайте, мы вам перезвоним и уточним детали. <br><br>
            После к вам приедет мастер по согласованному времени</p>
          <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
        </li>
      </ul>
    </div>
  </div>
</section>