<main class="homepage">
  <div class="homepage__container">
    <div class="homepage__wrapper">
      <h1 class="homepage__title">
        Сборка мебели и кухонных гарнитуров <span>на дому</span>
      </h1>
    </div>
    <form action="/php/sendmail_1.php" method="post" enctype="multipart/form-data" class="homepage__form">
      <h2 class="homepage__subtittle">Форма обратной связи</h2>
      <div class="homepage__item">
        <label for="homepage__name" class="homepage__label">Ваше имя*</label>
        <input type="text" id="homepage__name" class="homepage__input" name="username"
          placeholder="Фамилия Имя Отчество" onkeydown="noDigits(event)" />
      </div>
      <div class="homepage__item">
        <label for="homepage__tel" class="homepage__label" required>Номер телефона* </label>
        <input type="tel" minlength="12" maxlength="12" id="homepage__tel" class="homepage__input" name="phone"
          placeholder="+7-(___)-___-__-__" onfocus="addDefaultValue(this)" onblur="removeDefaultValue(this)" />
      </div>
      <div class="homepage__item">
        <label for="homepage__question" class="homepage__label" required>Сообщение</label>
        <textarea id="homepage__question" class="homepage__input homepage__textarea" name="message"
          placeholder="Напишите интересующий вас вопрос"></textarea>
      </div>
      <div class="homepage__item drag-drop-area" ondrop="handleDrop(event)" ondragover="handleDragOver(event)"
        ondragleave="handleDragLeave(event)" id="drag-drop-area">
        <label for="homepage__file" class="homepage__label homepage__label-file" required>
          <img src="app/images/src/homepage/peg.svg" alt="скрепка" class="homepage__label-image" /><br />
          <span class="homepage__label-clue">Перетащите файл(ы) в эту область</span><br />
          <span class="homepage__label-hook">или вы можете выбрать файл</span><br />
          <span class="homepage__label-button">кликнув сюда</span><br />
          <input type="file" id="homepage__file" class="homepage__input" name="files[]" multiple
            onchange="previewFiles()" />
          <div class="homepage__file-preview" id="file-preview"></div>
        </label>
      </div>
      <p class="homepage__promt">(прикрепите схему или фото мебели в готовом виде)</p>
      <button type="submit" class="homepage__button button">Рассчитать стоимость</button>

      <div class="homepage__link-wrapper">
        <a class="homepage__link" href="/police/Политика в отношении обработки персональных данных.pdf">Политика
          конфиденциальности</a>
      </div>


    </form>
  </div>
</main>