<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/middle-price.css" />
    <meta name="keywords" content="Заказать сборку мебели в спб" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>

    <h1 class="middle__title">Средняя стоимость сборки кухни</h1>

    <p class="middle__prompt">Самый распространенный расчёт это кухня из 6 либо 12 кухонных модулей и базовой кухонной
        техникой.</p>

    <img class="middle__img" src="/app/images/src/middle-price/Кухня.jpg" alt="">

    <div class="border-table">
        <table>
            <tr class="thead-border-top">
                <th>Корпус/ящики</th>
                <th></th>
            </tr>
            <tr>
                <th>Сборка</th>
                <th>Количество</th>
                <th class="right_align">Цена</th>
            </tr>

            <tbody>
                <tr>
                    <td class="td-1">Шкаф пенал</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">2000₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Антресоли</td>
                    <td class="td-1">6 шт</td>
                    <td class="td-1 td__right-align">800₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Верхние модули</td>
                    <td class="td-1">5 шт</td>
                    <td class="td-1 td__right-align">800₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Нижние модули</td>
                    <td class="td-1">5 шт</td>
                    <td class="td-1 td__right-align">800₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Фартук</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">от 1500₽</td>
                </tr>
                <tr>
                    <td class="td-1">Столешница</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">от 1500₽</td>
                </tr>
                <tr class="end-color">
                    <td class="td-1">Итого</td>
                    <td class="td-1"></td>
                    <td class="td-1 td__right-align">17800₽</td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="border-table">
        <table>
            <tr class="thead-border-top">
                <th>Техника</th>
                <th></th>
            </tr>
            <tr>
                <th>Установка</th>
                <th>Количество</th>
                <th class="right_align">Цена</th>
            </tr>

            <tbody>
                <tr>
                    <td class="td-1">Посудомойка</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">1500₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Варочная панель</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">1500₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Духовой шкаф</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">1500₽ шт</td>
                </tr>
                <tr>
                    <td class="td-1">Вытяжка</td>
                    <td class="td-1">1 шт</td>
                    <td class="td-1 td__right-align">1500₽ шт</td>
                </tr>
                <tr class="end-color">
                    <td class="td-1">Итого</td>
                    <td class="td-1"></td>
                    <td class="td-1 td__right-align">6000₽</td>
                </tr>


            </tbody>
        </table>
    </div>
</body>

</html>